.app {
  background: linear-gradient(
    90deg,
    rgba(71, 117, 71, 1) 0%,
    rgba(145, 183, 84, 1) 100%
  );
}

.mainSize {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.mainContent {
  display: block;
}

.loginText {
  color: #bc4749;

  text-align: center;
  font-family: Arial;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 50% */
}

.mainEntry {

  display:flex;
  flex-direction: column;
  align-items: center;
justify-content: center;


  border-radius: 50px;
  background: linear-gradient(
    105deg,
    #f2e8cf 2.85%,
    rgba(242, 232, 207, 0) 100%
  );

  width: 745px;
  height: 389px;

  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7px);

  
}

.loginInfoText{
flex-direction: column;
align-items: center;
justify-content: center;
gap: 72px;
width: 364px;
}

.requirementText {
  color: #bc4749;

  text-align: center;
  font-family: Arial;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  border-bottom: 2px solid #bc4749;
}

.loginButton{
  width: 223px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 32px;
  background: var(--Christmas-Pale-Red, #BC4749);

  display:inline-flex;
  align-items: center;
  justify-content: center;

  color: var(--Christmas-White-Pink, #FFEBEB);
  text-align: center;
  font-family: Calistoga;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 111.111% */
}

.loginAssist{
  display: inline-flex;
  justify-content: space-between;
  width: 400px;
}

.loginAssistText{
  color: var(--Christmas-Pale-Red, #BC4749);
text-align: center;
font-family: Calistoga;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 266.667% */

}